<div class="articles-hero">
  <div class="articles-header">
    <h2>All articles</h2>
    <%= link_to "Back to browse", categories_path, :class => 'to-browse' %>
  </div>
</div>

<% @articles.each do |article| %>
  <div class="article">
    <h3 class="article-title"><%= article.title %></h3>
    <p class="article-summary"><%= article.summary %></p>
    <%= link_to "Read", article.link, target: :_blank, :class => 'read-article' %>
  </div>
<% end %>
