// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import './application.scss';

.articles-hero {
  width: 100%;
  height: 100px;
  background-color: $black;
  color: $white;

  h2 {
    margin: 0;
  }
}

.articles-header {
  background-color: $black;
  color: $white;
  padding: 20px;
}