// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import './application.scss';

.categories-hero{
  width: 100%;
  height: 200px;
  background-color: $black;
  color: $white;
  margin: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-container{
  background-color: $dark-grey;
  min-height: calc(100vh - 200px);
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .category {
    border: 1px solid $white;
    width: 300px;
    height: 150px;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  * {
    color: $white;
  }
}