// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.categories-hero{
  width: 100%;
  height: 200px;
  background-color: #252525;
  color: #F8F8F8;
  margin: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}