// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import './application.scss';

.categories-hero{
  height: 200px;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3, p {
    margin: 0;
  }

  .view-all{
    color: $white;
  }
}

.categories-container{
  background-color: $dark-grey;
  min-height: calc(100vh - 200px);
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;

  * {
    color: $black;
  }
}

.category {
  flex:1 0 500px;
  align-self:stretch;
  
  max-width: calc(100% - 10px);
  min-height: 10rem;
  margin:5px;
  border: 1px solid $black;
  background:white;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-name {
  margin-top: 0;
}

.article {
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid $light-grey;
}

.read-article {
  color: $dark-grey;
}

.to-browse {
  color: $white;
}
