<div class="categories-hero">
    <h2>Writing</h2>
    <h3>Explore my written work</h3>
    <p>Browse through categories below</p>
    <p>or</p>
    <%= link_to "View all articles here", articles_path, :class => 'view-all' %>
</div>

<div class="categories-container">
  <% @categories.each do |category| %>
  <div class="category">
    <%= link_to category.name, category_path(category) %>
  </div>
  <% end %>
</div>